@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap');

body{
   box-sizing: border-box;
}

.App {
  position: static;
  text-align: center;
  background-color:#fff;
  font-family: 'KoHo', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'KoHo', sans-serif;
}

.products {
  position: relative;
  display: inline-block; 
}

.products img {
  width: 50%;
}

.product {
  width: 100%;
  font-family: 'KoHo', sans-serif;
  border: 1px solid;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 5px grey;
}

button {
  font-family: 'KoHo', sans-serif;
  border: none;
  font-size:15 px;
  padding: 10px;
  background-color:aquamarine;
  border: 2px solid #555555;
  border-radius: 0.5rem;
  cursor: pointer;
}

header {
  background-color: #e5e5;
  height: 70px;
  padding-top: 20px;
  border-radius: 0.5rem;
}
.total{
  font-size: x-large;
  font-weight: bold;
  color: rgba(248, 113, 113);
  text-align: center;
  outline: none;
  padding: 1rem;
  margin-top: 1rem;
}
.prodcut-button{
  max-width: 600px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;;
  cursor:pointer;
}
.prodcut-button:hover{
  background-color: #356d37;
  color:black;
}
.cart-button{
  font-size: 20px;
  padding: 10px;
  background-color:#f44336;
  cursor:pointer;
}
.cart-button:hover{
  background-color: brown;
  color: #282c34;
}
.product input{
  border-style: hidden;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.shop{
  cursor: pointer;
  width: 40px;
  font-size: 20px;
  margin-top: 0.5rem;
}
.in{
  height: 35px;
  width: 25%;
  margin: 0.5rem;
  border-style: solid;
  border-radius:0.5rem;
  font-size: 15px;
  text-align: center;
  background-color:#e5e5e5;
  outline: none;
}
.in:focus{
  background-color: white;
}
